# dependencies
node_modules/

# Next.js
.next/
out/
.vercel/

# production/build artifacts
*.tsbuildinfo

# environment variables
.env
.env.*
!.env.example

# OS/editor files
.DS_Store
__MACOSX/
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
